        ::-webkit-scrollbar {
            width: 12px;
        }
        ::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        ::-webkit-scrollbar-thumb {
            background: #000; 
            border: 2px solid #f1f1f1;
        }
        .dark ::-webkit-scrollbar-track {
            background: #2d2d2d;
        }
        .dark ::-webkit-scrollbar-thumb {
            background: #39FFCA;
            border: 2px solid #2d2d2d;
        }
        .stroke-text {
             -webkit-text-stroke: 1px black;
             color: transparent;
        }
        .dark .stroke-text {
            -webkit-text-stroke: 1px white;
        }
